*
{
	margin:0%;
}

body{
	background: #C6d5c5;
	color: white;
	font-size: 1em;
	font-family: 'Dancing Script', cursive;
}

#wrapper
{
	width: 100%;
	margin: 0 auto;
}

a{
	float: none;
	color: white;
	text-decoration: none;
	padding-right: 10%;
}
a:hover{
	text-decoration: underline;
}

header div{
	width: 50%;
	float: left;
}

h1{
	font-size: 2em;
	text-shadow: 1px 2px 3px #02010a;
	padding-left: 10%;
	padding-top: -50%;
}

header
{
	background-color: #5b7989;
	margin: 0 auto;
	height: 1em;
	padding-top: 5%;
	padding-bottom: 5%;
	animation-duration: 2s;
	animation-name: slidein;

	}

	@keyframes slidein {
	  from {
	    margin-top: 150%;
	    width: 100%
	  }

	  to {
	    margin-top: -5%;
	    width: 100%;
	  }
		0%{
			margin-top: 150%;
			width: 100%;
			}
		60%{
			margin-top: -5%;
	    width: 100%;
		}
		100%{
			margin-top: 0%;
	    width: 100%;
		}
	}
#encabezado{
	border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	padding: 2%;
	text-align: center;
	height: 10%;
}

	#columna1
	{
	background-color: #d5c75f;
	width: 100%;
	}
	#columna2
	{
	background-color: #d5c75f;
	width: 100%;
	}


	footer DIV{
		width: 25%;
		float: right;
		background: #C6d5c5;
		text-align: center;
	}

	@media screen and (max-width: 1100px){

		#wrapper
		{
			width: 100%;
			margin: 0 auto;
		}
		#columna1
		{
		height: 50%;
		}
		footer DIV{
			width: 25%;
			float: right;
			background: #C6d5c5;
			text-align: center;
		}
			header div{
			background-color: #5b7989;
			width: 100%;
			float: left;
		}
	}

@media screen and (max-width: 960px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	height: 50%;
	}
	footer DIV{
		width: 25%;
		float: right;
		background: #C6d5c5;
		text-align: center;
	}
		header div{
		background-color: #5b7989;
		width: 100%;
		float: left;
	}
}
@media screen and (max-width: 780px){
	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	height: 100%;
	}
	footer DIV{
	width: 25%;
	float: left;
	background: #C6d5c5;
	text-align: center;
	}
	header div{
	background-color: #5b7989;
	width: 100%;
	text-align: center;
	}
	a{
		float: none;
		padding-right: 1%;
	}
	h1{
		padding-left: 2%;
	}
}

@media screen and (max-width: 690px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	height: 100%;
	}
	footer DIV{
	width: 25%;
	float: left;
	background: #C6d5c5;
	text-align: center;
	}
	header div{
	background-color: #5b7989;
	width: 100%;
	text-align: center;
	}
	a{
		float: none;
		padding-right: 1%;
	}
	h1{
		padding-left: 2%;
	}
}

@media screen and (max-width: 640px){

	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	height: 100%;
	}
	footer DIV{
	width: 25%;
	float: left;
	background: #C6d5c5;
	text-align: center;
	}
	header div{
	background-color: #5b7989;
	width: 100%;
	text-align: center;
	}
	a{
		float: none;
	}
}

@media screen and (max-width: 480px){
	#img1{
		width: 310%;
		float: right;
	}
	#wrapper
	{
		width: 100%;
		margin: 0 auto;
	}
	#columna1
	{
	height: 100%;
	}
	#columna2
	{
	width: 100%;
	}
	header
	{
	width:100%;
	}
	footer
	{
		width: 100%;
		background: #C6d5c5;
	}
	footer DIV{
		width: 100%;
		background: #C6d5c5;
		text-align: center;
	}
	header div{
		width: 100%;
		text-align: center;
		background-color: #5b7989;
	}

	footer div img{
		width: 5%;
	}

}
footer{
	background: #C6d5c5;
	border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#footer{
	width: 100%;
	text-align: center;
}

footer div img{
	width: 10%;
}
#redes a{
	color: white;
	text-decoration: none;
}
#redes img{
	width: 10%;
}

#columna1 img {
	width: 30%;
	float: right;
	padding: 1%;
}
#columna2 img {
	width: 30%;
	float: right;
	padding: 1%;
}
#blur{
filter: blur(10px);
}
#gris{
	filter: grayscale(100%);
}
#sepia{
	filter: sepia(90%);
}
